@import "tailwindcss";
body{
    background:#2f2f2f ;
    color: white;
}

/* src/index.css o archivo CSS global */

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  20%, 60% { transform: translateX(-5px); }
  40%, 80% { transform: translateX(5px); }
}

.animate-fade-in-down {
  animation: fadeInDown 0.5s ease-out;
}

.delay-100 {
  animation-delay: 0.1s;
}

.animate-shake {
  animation: shake 0.5s ease-in-out;
}